#FS Docker 版本
DOCKER_VERSION=1.0.1

#SIP端口
FS_INTERNAL_SIP_PORT=360
FS_INTERNAL_TLS_PORT=361
FS_EXTERNAL_SIP_PORT=380
FS_EXTERNAL_TLS_PORT=381

#FS_DOMAIN
FS_DOMAIN=sip.wanggang.work
FS_EXT_IP=1.2.3.4

#ESL
FS_ESL_IP=0.0.0.0
FS_ESL_PORT=8021
FS_ESL_PASSWORD=Hrx1OBKCW

#WS
FS_WS_PORT=5066
FS_WSS_PORT=7443

#VERTO
VERTO_WS_PORT=5066
VERTO_WSS_PORT=7443

#RTP
FS_RTP_START_PORT=5000
FS_RTP_END_PORT=8000

#用户密码
FS_DEFAULT_SIP_PASSWORD=nC3J7S9BEdOWxUe0